div#ticket {
  width: 40%;
}
button#recibo {
  display: none;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
button.ripple.ripple-surface.btn.btn-primary {
  margin-top: 10em;
}
div#factura {
  margin-left: -2em;
}
